* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.tabs {
    display: flex;
    text-align: center;
    justify-content: center
}
.ul {
    display: flex;
    gap: 50px;
}

.a-btn {
    text-decoration: none;
    color: rgb(94, 94, 94);
    font-weight: 700;
}

.a-btn {
  position: relative;
  padding: 12px 24px;
  background: none;
  border: none;
  color: #333;
  cursor: pointer;
  
}

.a-btn:hover {
    color: #000000;
    transition: 0.3s;
  }

.a-btn::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #000000;
  transform: scaleX(0);
  transform-origin: bottom;
  transition: transform 0.5s ease;
}

.a-btn:hover::after {
  transform: scaleX(1);
  transform-origin: bottom;
}

.main {

}

.one, .two, .three, .four {
    display: none;
    text-align: center;
}

.one.active, 
.two.active, 
.three.active, 
.four.active {
    display: block;
    animation: fadeIn 0.3s ease;
}


.gro {

}

.tre {
    background-color: #000000;
    color: #ffffff;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0;
    border-radius: 5px;
}

.rer {
    border-bottom: 1px solid black;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

